@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    background-color: #232323;
    color: #fff;
    font-family: Calibri, sans-serif;
}

.center{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: top;
}

p{font-family: 'Rowdies', cursive;
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
   
}
article{
    position: relative;
    top:20px;
}
.ifr{
    position: relative;
    top:20px;
}
.char{
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
/* Better box-model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
  Screen reader only
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.main-menu a {
 
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}






article {
  font-style:italic;
  max-width: 55em;
  font-size: 16px;
  line-height: 1.5em;

}

.vd-1{
    position: absolute;
    top:-350px;
    left:900px;
}